body {
    font:1em/1.2 normal Arial, sans-serif;
}
ol li {
    padding:6px;
    border-bottom:1px solid #ccc;
}

.crit {
    color: red;
}

.error {
    color: orange;
}

.warn {
    color: yellow;
}

.today .message {
    background-color:#FDFFC3;
}

.time {
    font-size:0.8em;
}